#cover-bg {
    background: #222 url('../../assets/cover.jpg') center center no-repeat;
    background-size: cover;
    color: #001;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}